<app-jumbotron [Titolo]= "'Autenticazione'" [SottoTitolo]="'Inserisci la Userid e la password'"></app-jumbotron>

<div>
    <h4 *ngIf='locked'>{{infoMsg}} </h4>
    <label for="userId">User ID:</label>
    <input type="text" id="userId" placeholder="Nome Utente" [(ngModel)] = "userid" />

    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Password" [(ngModel)] = password>

    <button class='npm install bootstrapbtn btn-success' (click) = gestAut()>Login</button>

</div>